@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.imgage{
  height: 30rem;
  border-radius: 20px;
}

@media (min-width: 1024x) {
  .imggs{
    margin-right: 40rem;
  }
}

.bg-dac{
  position: relative;
  background-image: url('https://img.freepik.com/free-photo/young-students-learning-together-group-study_23-2149211067.jpg?t=st=1726411721~exp=1726415321~hmac=bab00ec6b9cee162f542931dd1f37629d0d02616b14d5c6d13d5d76e957f1417&w=900');
  background-size: cover;
  background-position: center;
}

.darkbg-zinc-900{
  background-color: rgba(0, 0, 0, 0.849);
}

.ada{
  height: 10rem;
}